:root {
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  color: black;
  --main-color: rgb(13, 183, 226);
  --secondary-color: rgb(155, 71, 211);
  --background-color: rgb(63, 61, 61);
  --background-hover-color: rgb(39, 38, 38);
}

body {
  margin: 0;
  padding: 0;
}

/* Style the Browser Scrollbar START */
body::-webkit-scrollbar {
  width: 0.75rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: var(--main-color);
}
/* Style the Browser Scrollbar END */

main {
  margin-left: 6rem; /* Dont overlap with navbar */
  padding: 1rem;
}

/* Navbar START */
.navbar-container {
  height: 100vh;
  width: 6rem;
  top: 0;
  position: fixed;
  background-color: var(--background-color);
  transition: width 200ms ease;
}

.navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 6rem;
  color: var(--main-color);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: 800ms;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--background-hover-color);
  color: var(--main-color);
}

.nav-link svg {
  min-width: 2rem;
  margin: 0 1.5rem;
}

.link-text {
  margin-left: 1rem;
  display: none;
  text-transform: uppercase;
}

.navbar-container:hover {
  width: 16rem;
}

.navbar-container:hover .link-text {
  display: block;
}

.nav-icon-color {
  color: var(--main-color);
  transition: 600ms;
}

/* Mobile Navbar START */

.toggle-button {
  position: absolute;
  top: 2rem;
  left: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: var(--main-color);
  border-radius: 10px ;
}

@media (max-width: 48em) {
  .nav-item {
    width: 100%;
  }
}
/* Mobile Navbar END */

/* Navbar END */