:root {
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  color: whitesmoke;
  background-color: rgb(31, 29, 29);
  --main-color: rgb(13, 183, 226);
  --secondary-color: rgb(155, 71, 211);
  --background-color: rgb(63, 61, 61);
  --background-hover-color: rgb(39, 38, 38);
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

/* Style the Browser Scrollbar START */
body::-webkit-scrollbar {
  width: 0.75rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: var(--main-color);
}
/* Style the Browser Scrollbar END */

main {
  margin-left: 6rem; /* Dont overlap with navbar */
}

/* Navbar START */
.navbar-container {
  position: fixed;
  background-color: var(--background-color);
  transition: width 200ms ease;
}





.navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 6rem;
  color: var(--main-color);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: 800ms;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--background-hover-color);
  color: var(--main-color);
}

.nav-link svg {
  min-width: 2rem;
  margin: 0 1.5rem;
}

.link-text {
  margin-left: 1rem;
  display: none;
  text-transform: uppercase;
}

.nav-icon-color {
  color: var(--main-color);
  transition: 600ms;
}

/* Mobile Navbar START */
@media only screen and (max-width: 600px) {
  .navbar-container {
    bottom: 0;
    width: 100vw;
    height: 6rem;
  }

  .navbar {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}
/* Mobile Navbar END */

/* Navbar for large Screens START */
@media only screen and (min-width: 768px) {
  .navbar-container {
    top: 0;
    height: 100vh;
    width: 6rem;
    transition: 500ms;
  }

  .navbar-container:hover {
    width: 16rem;
    transition: 500ms;
  }

  .navbar-container:hover .link-text {
    display: inline;
  }
  
}
/* Navbar for large Screens END */

/* Navbar END */

/* Sections START */

/* Section Me START */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .section-me {
    padding-left: 2em;
  }
}

.section-me {
  font-size: 2em;
  height: 100vh;
}

.container-me {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.heading {
  text-align: center;
  width: 100%;
}

/* Section Me END */

/* Sections END */